@using GVAVacationManager.HelpingTools;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom-style.css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container ffb">
                <a asp-controller="Home" asp-action="Index">
                    <p> GVA | Vacation Manager</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <div>
                        <ul class="navbar-nav ml-auto">
                            @if (Logged.User is null)
                            {

                                <li class="nav-item toside">
                                    <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="User" asp-action="Login">Вход</a>
                                </li>

                            }
                            else
                            {
                                if (Logged.User.RoleId == 1)
                                {
                                    <li class="nav-item">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="Project" asp-action="Index">Проекти</a>
                                    </li>
                                    <li class="nav-item">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="Team" asp-action="Index">Екипи</a>
                                    </li>
                                    <li class="nav-item">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="User" asp-action="Index">Служители</a>
                                    </li>
                                    <div class="dropdown">

                                        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                            Отпуски
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="PaidLeave" asp-action="IndexPaidLeave">Платен</a>
                                            </li>
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="UnpaidLeave" asp-action="IndexUnpaidLeave">Неплатен</a>
                                            </li>
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="SickLeave" asp-action="IndexSickLeave">Болничен</a>
                                            </li>
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="CEO" asp-action="ApproveLeaves">Неодобрени</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <li class="nav-item toside">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="CEO" asp-action="Index">
                                            Здравейте, @Logged.User.Username @Logged.User.LastName
                                        </a>
                                    </li>

                                }
                                else if (Logged.User.RoleId == 2)
                                {
                                    <li class="nav-item">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="TeamLead" asp-action="TeamUsers">Служители</a>
                                    </li>
                                    <div class="dropdown">

                                        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                            Отпуски
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="PaidLeave" asp-action="IndexPaidLeave">Платен</a>
                                            </li>
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="UnpaidLeave" asp-action="IndexUnpaidLeave">Неплатен</a>
                                            </li>
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="SickLeave" asp-action="IndexSickLeave">Болничен</a>
                                            </li>
                                            <li>
                                                <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="TeamLead" asp-action="ApproveLeaves">Неодобрени</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <li class="nav-item toside">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="User" asp-action="Profile" asp-route-id="@Logged.User.Username">
                                            Здравейте, @Logged.User.Username @Logged.User.LastName
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li class="nav-item toside">
                                        <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="User" asp-action="Profile" asp-route-id="@Logged.User.Username">
                                            Здравейте, @Logged.User.FirstName @Logged.User.LastName
                                        </a>
                                    </li>

                                }
                            }
                        </ul>   
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GVAVacationManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
